<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Sample Email</h1>
    <p>
      Use for testing
      Send to: <%= @to %>.<br/>
      Body: <%= @body %>.<br/>
    </p>
  </body>
</html>