<div class="modal fade" id="edit_demand_modal" tabindex="-1" role="dialog" aria-labelledby="edit_demand_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="new_demand_modal_label">Edit My Demand</h4>
      </div>
      <div class="modal-body">
        <%= render :partial => 'demand/demand_form',
                   :locals => {:method => :put, 
                   :url => resource_url(resource),
                   :intensities => intensities }%>
      </div>
    </div>
  </div>
</div>
