$(document).ready(function() {

	var animation_time = 300;

	$('.create_resource').click(function(){
		$('.create_resource').fadeOut(animation_time);
		$('.new_resource').delay(animation_time).fadeIn(animation_time);
	});

	$('.btn_close').click(function(e){
		$('.new_resource').fadeOut(animation_time);
		$('.create_resource').delay(animation_time).fadeIn(animation_time);
	    e.preventDefault();
	});

	function build_resource_html (resource) {
		return '<a href="' + resource.url + '"> \
				<div class="each_resource"> \
					<div class="r_bg"> \
						<div class="r_name"> ' + resource.name + ' </div> \
						<div class="r_des"> ' + resource.short_description + ' </div> \
					</div> \
					<div class="r_sm"> \
						<div class="r_item"> <div class="r_item_title">Start</div>' + resource.start_at + '</div> \
						<div class="r_item"> <div class="r_item_title">End</div>' + resource.end_at + ' </div> \
						<div class="r_item"> <div class="r_item_title">Provider</div>' + resource.provider_name + '</div> \
						<div class="r_item"> <div class="r_item_title">Demand</div>0</div> \
					</div> \
				</div>'
	}

	$("#new_resource_form").submit(function(e) {

		$('.new_resource').fadeOut(animation_time);
		$('.creating_resource').delay(animation_time).fadeIn(animation_time);

	    var postData = $(this).serializeArray();
	    var formURL = $(this).attr("action");

	    $.ajax(
	    {
	        url : formURL,
	        type: "POST",
	        data : postData,
	        dataType : 'json',
	        success:function(data, textStatus, jqXHR) 
	        {
	        	var resource_html = build_resource_html(data);

				$('.creating_resource').fadeOut(animation_time);
				$(resource_html).hide().insertAfter('.create_resource').delay(animation_time).fadeIn(animation_time);
        		$('.create_resource').delay(animation_time).fadeIn(animation_time);
	        },
	        error: function(jqXHR, textStatus, errorThrown) 
	        {
	        	alert('error');	
	        }
	    });

	    e.preventDefault();
	});
	 
});
