<%= render 'header/user_header' %>

<h2>please create a new resource!</h2>

<%= render :partial => 'resource/resource_form', 
		   :locals => {:method => :post, :url => '/resource'} %>

<br>
<%= link_to "Go Back", resource_index_url %>