<%= render 'header/user_header' %>

<h2>Edit demand on <%= @resource.name %></h2>

<%= render :partial => 'demand/demand_form',
		   :locals => {:method => :put, 
		   			   :url => resource_demand_url(@resource, @demand),
		   			   :intensities => @intensities} %>

<br>
<%= link_to "Go Back", resource_demand_url(@resource, @demand) %>