<%= render 'header/user_header' %>

<h2>please create a new demand!</h2>

<%= render :partial => 'demand/demand_form',
		   :locals => {:method => :post, 
		   			   :url => resource_demand_index_url(@resource),
		   			   :intensities => @intensities} %>

<br>
<%= link_to "Go Back", resource_url(@resource) %>