/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require fullcalendar
 *= require_tree .
 */


body {
	font-family: Arial;
	margin: 0;
	padding: 0;
	font-size: 16px;

	background-color: rgb(229,229,229);
	background-image: url('/assets/background.jpg');
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	border-radius: 0px;
	border: 1px solid rgb(220,220,220);
	box-shadow: 0px 0px 0px white inset;
	height: 28px;
	border-top: 1px solid rgb(200,200,200);
	background-color: rgb(246,246,246);
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	
}

a {text-decoration: none !important}


















.top_banner {
	position: fixed;
	z-index: 20;
	top: 0;
	width: 100%;
	height: 52px;
	box-shadow: 0px 1px 3px rgba(110,110,110, .6);
	padding-left: 6%; 


	background-image: -o-linear-gradient(-90deg, #0678D8 0%, #2B44E5 100%);
	background-image: -moz-linear-gradient(-90deg, #0678D8 0%, #2B44E5 100%);
	background-image: -webkit-linear-gradient(-90deg, #0678D8 0%, #2B44E5 100%);
	background-image: -ms-linear-gradient(-90deg, #0678D8 0%, #2B44E5 100%);
	background-image: linear-gradient(-180deg, #0678D8 0%, #2B44E5 100%);

	background-color: #004d8d;
}

.logo {
	position: relative;
	top: 10px;
}

.logo img {
	width: 205px;
}

.user_profile {
	position: relative;
	float: right;
	top: -13px;
	left: -80px;
	width: 200px;
	font-size: .9em;
	line-height: 1.2em;
	-webkit-user-select: none;        
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.my_account {
	margin-top: 3px;
}

.logout, .my_account  {
	position: relative;
	top: -10px;
	color: white;
	opacity: .85;

	font-size: .9em;
}

.login,.signup{
	margin-right: 10px;
	float: left;
	color: white;
}

.login {
	margin-right: 25px;
}

.authentication {
}

.my_account:hover,.logout:hover,.login:hover,.signup:hover {opacity: .5;}

.dropdown-menu {
	position: relative;
	width: 300px;
	padding-top: 10px;
	left: -240px;
	border-radius: 3px;
	top: 5px;
	text-align: center;
}

.dropdown-menu input[type="text"],.dropdown-menu input[type="password"],.dropdown-menu input[type="email"] {
	width: 88%;
}

.dropdown-menu input[type="submit"] {
	width: 93%;
	height: 34px;
}

.sign_in_dropdown {
	height: 135px;
}

.sign_up_dropdown {
	height: 272px;
}

.sign_up_identity {
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.sign_up_identity label {
	margin-bottom: 0px;
}

.provider_identity_tag, .consumer_identity_tag {
	display: none;
}

.provider_identity_label, .consumer_identity_label {
	background-color: rgb(170, 170, 170);
	color: white;
	border: 1px solid rgb(140,140,140);
	padding: 6px 8px;
	text-align: center;
	width: 39.7%;
	display: inline-block;
	border-radius: 2px;
	-webkit-user-select: none;        
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}


.content {
	margin-top: 52px;
	padding-bottom: 80px;
	width: 100%;
	min-width: 1200px;

	position: absolute;
}

.show_mode {
	position: relative;
	top:9px;
	left: 13px;
	font-size: .9em;
	color: rgb(155,155,155);
	text-align: center;
	font-weight: 100;
	font-style: normal;
}

.content b {
	position: relative;
	top:9px;
	left: 13px;
	font-size: .9em;
	color: rgb(155,155,155);
	text-align: center;
	font-weight: 100;
	font-style: normal;
}

.show_mode:hover {
	color: rgb(80,80,80);
	cursor: pointer;
}

.show_mode_selected {
	font-weight: bold;
	color: rgb(110,110,110);
}

.dashboard {
	width: 66%;
	position: relative;
	margin-left: 5%;
	float: left;
}

.inner_banner {
	height: 38px;
	width: 100%;
}

.each_resource, .create_resource, .new_resource, .creating_resource {
	background: rgb(254,254,254);
	padding: 5px;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(140,140,140, .6);
	width:100%;
	margin-right: auto;

	height: 62px;

	margin-bottom: 10px;
}

.each_resource:hover {
	box-shadow: 0px 1px 2px rgba(150,150,150, .75);
	background-color: rgb(248,248,248);
}

.each_resource:active {
	box-shadow: 0px 0px 3px rgba(140,140,140, .6) inset;
}

.each_announcement {
	border-bottom: 1px solid rgb(230,230,230);
	padding: 10px;
}

.r_bg {
	height: 100%;
	width: 57%;
	float: left;
	border-radius: 1px;
}

.r_name {
	color: rgb(40,40,40);
	font-weight: bold;
	font-size: 1.3em;
	text-indent: 13px;
	top: 6px;
	position: relative;
}

.r_des {
	color: rgb(120,120,120);
	text-indent: 13px;
	top: 15px;
	position: relative;
	font-size: .85em;
}

.r_sm {
	height: 100%;
	width: 42.5%;
	float: right;
	background-color: rgb(248,248,248);
	border-radius: 2px;
	box-shadow: inset 0px 0px 1px rgba(100,100,100,.6);
}

.r_item {
	width: 25%;
	float: left;
	color: rgb(70,70,70);
	font-size: .85em;
	text-align: center;
	height: 100%;
	line-height:270%;
}

.r_item_title {
	color: rgb(180,180,180);
	font-size: .92em;
	line-height:225%;
}

.create_resource {
	background-color: rgb(216,216,216);
	height: 27px;
	box-shadow: 0px 0px 0px white, 0px 1px 4px rgba(150,150,150, .55) inset;
	font-size: 1.08em;
	color: rgb(130,130,130);
	text-align: center;
	padding-top: 11px;
}


.create_resource:hover {
	background-color: rgb(224,224,224);
	color: rgb(120,120,120);
	box-shadow: 0px 1px 4px rgba(150,150,150, .55), 0px 0px 1px rgb(100,100,100) inset;
	cursor: pointer;
}

.create_resource:active {
	background-color: rgb(210,210,210);
	box-shadow: inset 0px 1px 4px rgba(50,50,50,.2);
	color: rgb(100,100,100);
}

.new_resource {
	display: none;
	height: 247px;
	font-size: 1.08em;
}

.new_resource_name {
	width: 45%;
	position: relative;
	float: left;
	left: .65%;
	top: 7px;
}
#resource_name, #resource_short_description {
	width: 95%;
}

.new_resource_time {
	width: 48%;
	height: 80px;
	position: relative;
	float: right;
	top: 30px;
	margin-right: .65%;
}

.new_resource_time label {
	position: relative;
	text-indent: 15px;
}

.new_resource_time div {
	float: right;
	width: 49%;
	margin-right: 2px;
	display: inline-block;
	position: relative;
}

#resource_end_at, #resource_start_at {
	width: 89%;
	position: relative;
	float: right;
}

.new_resource_des {
	position: relative;
	float: left;
	top: 10px;
	width: 97.2%;
	margin-left: .65%;
	margin-right: .65%;
	height: 90px;
}

.resource_form_btn  {
	position: relative;
	top: 23px;
	float: right;
	right: .8%;
}

.btn_close,.btn_submit {
	background-color: #4d90fe;
	border: 1px solid #3079ed;
	border-radius: 2px;
	height: 30px;
	color: white;
	width: 130px;
	display: inline-block;
}

.btn_close {
	height: 32px;
	top: 2px;
	position: relative;
	background-color: rgb(170,170,170);
	border: 1px solid rgb(140,140,140);
	left: -5px;
}

.btn_submit input {
	width: 100%;
	background-color: rgba(255,255,255,0);
	border-width: 0px;
	margin: 0px;
	color: white;
	position: relative;
	top: 2px;
}

#resource_description {
	width: 100%;
	height:85px;
}


.creating_resource {
	height: 27px;
	text-align: center;
	padding-top: 11px;
	display: none;
	background-color: rgba(216,216,216,0);
	border: 0px;
	box-shadow: 0px 0px 0px white;
}
















.sideboard {
	position: relative;
	left: 30px;
	float: left;
	width: 21.5%;
	
}

.siderboard_content {
	background: rgb(254,254,254);
	box-shadow: 0px 1px 2px rgba(140,140,140, .6);
	border-radius: 2px;
	overflow: hidden;
}

.announcement_time {
	color: rgb(180,180,180);
	font-size: .8em;
	display: inline-block;
	margin-top: 3px;
	position: relative;
	top: 5px;
}

.announcement_creator {
	font-size: .8em;
	float: right;
	display: inline-block;
	margin-top: 3px;
	position: relative;
	top: 5px;
}















/* resource detail */
.screen {
	position: relative;
	margin-top: 52px;
	width: 100%;
	background: rgb(248,248,248);
	z-index: 10;
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(180,180,180);
	min-height: 150px;
	overflow: auto;

	background-image: -o-linear-gradient(90deg, #F0F0F0 0%, #F5F5F5 39%, #FAFAFA 100%);
	background-image: -moz-linear-gradient(90deg, #F0F0F0 0%, #F5F5F5 39%, #FAFAFA 100%);
	background-image: -webkit-linear-gradient(90deg, #F0F0F0 0%, #F5F5F5 39%, #FAFAFA 100%);
	background-image: -ms-linear-gradient(90deg, #F0F0F0 0%, #F5F5F5 39%, #FAFAFA 100%);
	background-image: linear-gradient(0deg, #F0F0F0 0%, #F5F5F5 39%, #FAFAFA 100%);
	box-shadow: 0px 1px 3px rgb(190,190,190);

}

.screen_edit {
	position: relative;
	margin-top: 52px;
	width: 100%;
	background: rgb(248,248,248);
	z-index: 10;
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(180,180,180);
	min-height: 150px;
	overflow: auto;

	background-image: -o-linear-gradient(90deg, #F0F0F0 0%, #F5F5F5 39%, #FAFAFA 100%);
	background-image: -moz-linear-gradient(90deg, #F0F0F0 0%, #F5F5F5 39%, #FAFAFA 100%);
	background-image: -webkit-linear-gradient(90deg, #F0F0F0 0%, #F5F5F5 39%, #FAFAFA 100%);
	background-image: -ms-linear-gradient(90deg, #F0F0F0 0%, #F5F5F5 39%, #FAFAFA 100%);
	background-image: linear-gradient(0deg, #F0F0F0 0%, #F5F5F5 39%, #FAFAFA 100%);
	box-shadow: 0px 1px 3px rgb(190,190,190);


	display: none;
}

.screen p {
	line-height: 1em;
	font-size: .92em !important;
}

.screen_inner {
	width: 1060px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	overflow: auto;
}

.detail_rsrc_left {
	width: 59%;
	position: relative;
	float: left;
	margin-top: 17px;
}

.detail_rsrc_right {
	width: 40.5%;
	position: relative;
	float: right;
	top: 9px;
}

.detail_rsrc_bottom {
	width: 100%;
	position: relative;
	float: right;
}

#detail_rsrc_name {
	color: rgb(130,130,130);
	font-size: 1.7em;
	height: 32px;
	font-weight: bold;
}

.detail_rsrc_btns {
	position: relative;
	float: right;
	width: 29%;
	height: 40px;
	margin-top: 14px;
}

.btn_resource {
	width: 80%;
	float: right;
	margin-bottom: 7px;
	margin-right: 3px;
	height: 32px;
	border-radius: 2px;
	border: 1px solid rgb(140,140,140);
	background-color: rgb(250,250,250);
	color: rgb(130,130,130);
}

.btn_close:hover,.btn_contact:hover,.btn_resource:hover,.btn_submit:hover {
	box-shadow: 0px 2px 2px rgba(0,0,0, .2); 
}

.btn_close:active,.btn_contact:active,.btn_resource:active,.btn_submit:active {
	box-shadow: 0px 1px 2px rgba(0,0,0, .3) inset; 
}

.btn_contact {
	width: 90%;
}

.btn_contact img {
	height: 70%;
	position: relative;
	top: -1px;
	left: -8px;
}

.btn_contact,.btn_edit:hover,.btn_contact:hover {
	background-color: #4d90fe;
	border: 1px solid #3079ed;
	color: white;
}

.btn_delete:hover {
	background-color: rgb(255,150,114);
	color: white;
	border: 1px solid #af6951;
}

#detail_rsrc_sub {
	height: 32px;
}

.detail_rsrc_sec {
	position: relative;
	font-size: 1em;
	line-height: 1.4em;
	color: rgb(150,150,150);
}

.detail_rsrc_title {
	position: relative;
	left: -21px;
	top: -2px;
	font-size: 1em;
	line-height: 1.4em;
	color: rgb(255,255,255);
	background-color: rgb(110,110,110);
	padding: 5px 10px; 
	display: inline-block;
	font-weight: bold;
}

.detail_availablity {
	width: 35%;
	float: left;
}

.detail_clear {
	width: 58%;
}

.screen_inner_edit {
	margin-top: 5px;
	width: 1060px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	overflow: auto;
	padding-bottom: 28px;
}

.screen_inner_edit input[type="text"],.screen_inner_edit input[type="date"],.screen_inner_edit textarea {
	background-color: white;
}









.bottom_screen {
	width: 1060px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 13px;
	padding-bottom: 50px;
	z-index: 0;
	overflow: auto;
}

.left_screen{
	position: relative;
	float: left;
	background-color: white;
	padding: 1px 20px 15px 20px;
	box-shadow: 0px 2px 3px rgb(200,200,200);
}

.right_screen {
	position: relative;
	float: right;
	width: 410px;
	background-color: white;
	padding: 1px 20px 15px 20px;
	box-shadow: 0px 2px 3px rgb(200,200,200);
}


#calendar{
	width: 555px;
	position: relative;
	float: left;
}

#copy_clipboard {
	position: relative;
	left: -18px;
	cursor: pointer;
}

#copy_clipboard img {
	width: 25px;
}

.fc-event-inner:hover {
	color: white;
}

.fc-header-title h2 {
	font-size: .95em;
	position: relative;
	top: 7px;
	font-weight: lighter;
}

.fc-day-header,.fc-day-number {
	font-size: .85em;
}
.new_demand {
	margin-top: 11px;
	height: 35px;
	border: 1px solid rgb(230,230,230);
	text-align: center;
	background-color: rgb(250,250,250);
}

.new_demand_content {
	top: 8px;
	left: 7px;
	position: relative;
	color: rgb(140,140,140);

}

.each_demand {
	height: 47px;
	padding: 7px;
	border-bottom: 1px solid rgb(230,230,230);
}

.new_demand:hover {
	background-color: rgb(240,240,240);
	cursor: pointer;
}

.demand_edit_short {
	width: 97%;
}

.demand_edit_time {
	width: 97%;
	text-align: right;
}

.demand_edit_time i {
	color: rgb(140,140,140);
	font-style: normal;
	font-size: .85em;
	position: relative;
	top:-5px;
}

.demand_edit_time input {
	width: 205px;
	position: relative;
}

.demand_edit_time_left {
	float: left !important;
}

.demand_edit_time_right {
	position: relative;
	float: right !important;
	left: 14px;
}


.demand_edit_des {
	width: 97%;
	height: 70px;
}

.demand_edit_intens {
	position: relative;
	width: 98%;
	left: .8%;
	margin-top: -1px;
	margin-bottom: 15px;
}

.demand_radio_each {
}

.demand_edit_intens_each {
	display: inline-block;
	width: 24%;
}

.demand_edit_intens_each label {
	display: inline-block;
}

.demand_edit_intens_each i {
	font-style: normal;
	position: relative;
	top: 3px;
	left: 3px;
	font-size: .85em;
}

.each_demand_content i {
	font-style: normal;
	color: rgb(150,150,150);
}

.each_demand_1nd {
	position: relative;
	top: -3px;
}

.each_demand_2nd {
	position: relative;
	top: 5px;
	font-size: .85em;
}

.each_demand_content_right {
	float: right;
}

.each_demand_short {
	font-size: .85em;
}

.each_demand_consumer {
	display:inline-block;
	color: #4183c4;
	width: 75px;
	font-size: 1.1em;
	font-weight: bold;
}

.each_demand_consumer:hover {
	text-decoration: underline;
}

.each_demand_intensity {
	background-color: rgb(160,160,160);
	padding: 2px;
	position: relative;
	float: left;
	top: -2px;
	margin-right: 7px;
	border-radius: 20px;
	color: white;
	display:inline-block;
	width: 85px;
	font-size: .75em;
	text-align: center;
}

.MODERATE_color {
	background-color: #FFE100 !important;
}

.OCCUPY_color {
	background-color: #D0021B !important;
}

.HEAVY_color {
	background-color: #F9A130 !important;
}

.LIGHT_color {
	background-color: #7ED321 !important;
}





















/*model popup*/
.modal-body {
	padding: 10px;
}

.btn_demand {
	display: inline-block;
	position: relative;
	float: right;
	margin-right: 10px;
	top: -3px;
}

.btn_edit_demand {
	width: 75px;
	height: 28px;
	margin: 0px;
}

.btn_delete_demand {
	width: 75px;
	height: 28px;
	margin: 0px;
	margin-right: 5px;	
}

.close {
	position: relative;
	top: -4px;
}

.demand_intensity {
	background-color: rgb(160,160,160);
	padding: 2px;
	position: relative;
	top: -1px;
	margin-left: 5px;
	border-radius: 20px;
	color: white;
	display:inline-block;
	width: 85px;
	font-size: .7em;
	text-align: center;
}

.demand_date {
	color: black;
	font-size: .85em;
	position: relative;
	margin-left: 15px;
}

.demand_date i{
	color: rgb(150,150,150);
	font-style: normal;
}

.demand_short_description {
	font-weight: bold;
	font-size: 1.2em;
}

.demand_consumer_name {
	position: relative;
	float: right;
	right: 15px;
	color: #4183c4;
}

.demand_description {
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 10px;
	background-color: rgb(236,243,255);
	font-size: .94em;
	border-radius: 3px;

	color: rgb(25,72,149);
}

.msg_email {
	position: relative;
	top: 3px;
	width: 312px;
}

.msg_form {
	margin: 0px;
}
.msg_body {
	margin-top: 3px;
	width: 97.5%;
	height: 70px;
	max-width: 97.5%;
}

.send_button {
	float: right;
	width: 90px !important;
	border-radius: 2px;
}




















.each_user {
	background: rgb(254,254,254);
	padding: 5px;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(140,140,140, .6);
	width:100%;
	margin-right: auto;

	height: 36px;

	margin-bottom: 10px;
}