/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require fullcalendar
 *= require_tree .
 */


body {
	font-family: Arial;
	margin: 0;
	padding: 0;
	font-size: 16px;

	background-color: rgb(222,222,222);
}

a {text-decoration: none}

.top_banner {
	position: relative;
	z-index: 2;
	top: 0;
	width: 100%;
	height: 50px;
	box-shadow: 0px 1px 2px rgba(10,10,10, .5);
	border-bottom: 1px solid rgb(30,30,30);

	background-image: -o-linear-gradient(-90deg, #2F7BD5 0%, #0B61C7 100%);
	background-image: -moz-linear-gradient(-90deg, #2F7BD5 0%, #0B61C7 100%);
	background-image: -webkit-linear-gradient(-90deg, #2F7BD5 0%, #0B61C7 100%);
	background-image: -ms-linear-gradient(-90deg, #2F7BD5 0%, #0B61C7 100%);
	background-image: linear-gradient(-180deg, #2F7BD5 0%, #0B61C7 100%);

}

.logo {
	position: relative;
	width: 410px;
	top: 10px;
	margin-left: 20px;
	color: white;
	opacity: .85;
}

.user_profile {
	position: relative;
	float: right;
	top: -15px;
	width: 200px;
	font-size: .9em;
	line-height: 1.2em;
}

.my_account {
	margin-top: 3px;
}

.logout, .my_account  {
	position: relative;
	top: -10px;
	color: white;
	opacity: .85;

	font-size: .9em;
}

.login {
	color: white;
}

.my_account:hover,.logout:hover,.login:hover {opacity: .5;}

.inner_banner {
	width: 100%;
	height: 20px;
}

.content i {
	position: relative;
	top:9px;
	left: 75px;
	font-size: .9em;
	color: rgb(155,155,155);
	text-align: center;
	font-weight: 100;
	font-style: normal;
}

.dashboard {
	margin-top: 15px;
}

.each_resource, .create_resource {
	background: rgb(250,250,250);
	padding: 5px;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(140,140,140, .6);
	width: 70%;
	min-width: 700px;
	margin-right: auto;
	margin-left: 5%;

	height: 62px;

	margin-bottom: 10px;
}

.each_resource:hover {
	box-shadow: 0px 1px 5px rgba(150,150,150, .75), inset 0px 0px 1px rgb(50,50,50);
	background-color: rgb(243,243,243);
}

.each_resource:active {
	box-shadow: 0px 0px 3px rgba(140,140,140, .6) inset;
	background: rgb(240,240,240);
}

.r_bg {
	height: 100%;
	width: 57%;
	float: left;
	border-radius: 1px;
}

.r_name {
	color: rgb(40,40,40);
	font-weight: bold;
	font-size: 1.3em;
	text-indent: 13px;
	top: 6px;
	position: relative;
}

.r_des {
	color: rgb(120,120,120);
	text-indent: 13px;
	top: 15px;
	position: relative;
	font-size: .85em;
}

.r_sm {
	height: 100%;
	width: 42.5%;
	float: right;
	background-color: rgb(243,243,243);
	border-radius: 2px;
	box-shadow: inset 0px 0px 3px rgba(100,100,100,.5);
}

.r_item {
	width: 25%;
	float: left;
	color: rgb(70,70,70);
	font-size: .85em;
	text-align: center;
	height: 100%;
	line-height:270%;
}

.r_item_title {
	color: rgb(180,180,180);
	font-size: .92em;
	line-height:225%
}

.create_resource {
	background-color: rgb(216,216,216);
	height: 27px;
	box-shadow: 0px 0px 0px white, 0px 1px 4px rgba(150,150,150, .55) inset;
	font-size: 1.08em;
	color: rgb(130,130,130);
	text-align: center;
	padding-top: 11px;
}

.create_resource:hover {
	box-shadow: 0px 1px 4px rgba(150,150,150, .55);
	border: 1px solid rgb(160,160,160);
	padding-top: 10px;
	padding-left: 3px;
}

.create_resource:active {
	background-color: rgb(210,210,210);
	box-shadow: inset 0px 1px 4px rgba(50,50,50,.2);
	color: rgb(100,100,100);
}












/* resource detail */
.screen {
	width: 1000px;
	position: relative;
	background: white;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	top: -25px;
	z-index: 0;

	border-radius: 4px;
	box-shadow: 0px 2px 3px rgb(200,200,200);
}

#detail_rsrc_title {
	color: rgb(130,130,130);
}

.detail_rsrc_sec {
	position: relative;
	font-size: 1em;
	color: rgb(130,130,130);
}

.detail_rsrc_avail {
	position: relative;
	height: 80px;
}

.detail_availablity {
	width: 40%;
	float: left;
}

.detail_clear {
	width: 58%;
}

.detail_demands {
	height: 540px;
}

.demands_calendar{
	position: relative;
	float: left;
	height: 480px;
}

#calendar{
	width: 600px;
	position: relative;
	float: left;
}

.fc-header-left {
	float: right;
	position: relative;
	right: 17px;

}

.fc-header-title h2 {
	font-size: 1em;
	position: relative;
	top: 8px;
	font-weight: lighter;
}


.demands_list {
	position: relative;
	float: right;
	width: 37.8%;
}


.each_demand {
	height: 45px;
	border-bottom: 1px solid rgb(230,230,230);
}

.each_demand_content {
	position: relative;
	top: 13px;
	left: 10px;
}